@{
    ViewData["Title"] = "Custom Config Values";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<h4>environment=@ViewData["environment"]</h4>
<h4>expansion=@ViewData["expansion"]</h4>
<h4>foo=@ViewData["foo"]</h4>
